@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
}
main {
    max-width: 600px;
}
article {
    margin: 0;
    padding: 0;
}
section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 64px;
    text-align: center;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
}

/* LISTA */
#list-section {
    height: 100vh;
}
.suggestion {
    min-height: 140px;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 20px 0px #b5b5b5;
}
.suggestion .text {
    min-width: 200px;
    text-align: right;
}
.text h4 {
    margin: 0.6rem;
}
.text p {
    margin: 0.5rem;
    font-size: 14px;
}
.suggestion .image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #d3d3d3;
}
.image a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    width: 100%;
    border-radius: 3px;
}

/* DETALLE */
#detail-section {
    padding-top: 2.5rem;
    align-items: center;
}
#detail-section article {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 400px;
}
#detail-section .image {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #b8b8b8;
}
.image img {
    width: 75%;
}
.ingredients {
    width: 85%;
}
.ingredients h4 {
    text-align: right;
}
.ingredients div {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    margin: 0;
    list-style: none;
}
li {
    font-size: 14px;
}
#ig-quantity {
    text-align: right;
}
#space {
    height: 1.1rem;
}
#graph-art {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#graph-art div {
    width: 250px;
}

/* STEPS */
#steps-section {
    justify-content: flex-start;
    align-items: center;
} 
.step-article {
    display: flex;
    width: 90%;
}
.step-article h3 {
    margin-top: 1rem;
    width: 10%;
}
.step-article p {
    width: 85%;
}
#article-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#article-btn button {
    width: 10rem;
    height: 3rem;
    border: 2px solid #b8b8b8;
    border-radius: 2px;
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    background-color: white;
}