@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Shadows+Into+Light&family=Slackside+One&display=swap');

/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    color: #464646;
    display: flex;
    justify-content: center;
}
main {
    max-width: 600px;
}
article {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}
h1 {
    font-family: 'Shadows Into Light';
    color: #343434;
    margin: 0;
    padding: 0;
    font-size: 64px;
    text-align: center;
}
h2 {
    font-family: 'Shadows Into Light';
    color: #343434;
    margin: 0;
    padding: 0;
    font-size: 56px;
    text-align: center;
}
a, a:active, a:visited {
    text-decoration: none;
    color: #464646;
}
/* INDEX */
#index {
    height: 100vh;
}
#index h1 {
    font-family: 'Shadows Into Light';
    font-weight: 500;
    font-size: 8rem;
    line-height: 6rem;
    margin-top: 2rem;
}
#index h2 {
    margin-top: 0;
    font-family: 'Slackside One', cursive;
    font-size: 2rem;
    font-weight: 400;
}
#title-section {
    padding-top: 9rem;
    min-height: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#auth-section {
    min-height: 40%;
}
/* DIETA */
#diet-main {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}
.diet-section {
    max-width: 450px;
}
.diet-article {
    margin: 1.5rem;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
}
.diet-article h1 {
    position: absolute;
    font-family: 'Comfortaa';
    font-size: 5rem;
    color: white;
    text-shadow: -1px 0 #bcbcbc, 0 1px #bcbcbc, 1px 0 #bcbcbc, 0 -1px #bcbcbc;
}
.diet-img {
    width: 90%;
    border-radius: 3px;
}
/* LISTA */
#list-section {
    height: 100vh;
    width: 100%;
    max-width: 600px;
}
#list-section h1 {
    margin: 1.5rem;
}
.suggestion {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 10px 0px #b5b5b5;
    /* border-bottom: 1px solid #b8b8b8; */
}
.suggestion .text {
    min-width: 200px;
    text-align: right;
}
.text h4 {
    margin: 0.6rem;
}
.text p {
    margin: 0.5rem;
    font-size: 14px;
}
.suggestion .image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #d3d3d3;
}
.image a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    max-height: 100px;
    width: 80%;
    border-radius: 3px;
}

/* DETAIL */
#detail-section {
    padding-top: 2.5rem;
    align-items: center;
}
#detail-section article {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 400px;
    width: 80%;
    border-bottom: 1px solid #b8b8b8;
}
.detail-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-image img {
    width: 75%;
}
.ingredients h4 {
    text-align: right;
}
.ingredients div {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    margin: 0;
    list-style: none;
}
li {
    font-size: 14px;
}
#ig-quantity {
    text-align: right;
}
#space {
    height: 1.1rem;
}
#graph-art div {
    /* width: 250px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STEPS */
#steps-section {
    padding-top: 2.5rem;
    justify-content: flex-start;
    align-items: center;
}
#steps-section h2 {
    padding-bottom: 2.5rem;
}
.step-article {
    display: flex;
    width: 90%;
}
.step-article h3 {
    margin-top: 1rem;
    width: 10%;
}
.step-article p {
    width: 85%;
}
#article-btn {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#article-btn button {
    width: 10rem;
    height: 3rem;
    border: 2px solid #b8b8b8;
    border-radius: 2px;
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    background-color: white;
}

@media screen and (min-width: 610px){
        /* DETAIL */
        .recipes {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 90%;
            max-width: 800px;
        }
        #detail-section {
            margin-top: 120px;
            width: 50%;
        }
        
        #detail-section h2 {
            position: absolute;
            top: 0;
            left: 15%;
            margin: 2rem auto;
            text-align: center;
        }
        #steps-section {
            margin-top: 150px;
            width: 50%;
        }
        #steps-section #article-btn {
            margin-top: 1rem;
        }
        #steps-section button {
            width: 80%;
            height: 5rem;
            font-size: 1.5rem;
        }
  }

  @media screen and (min-width: 830px) {
    #detail-section h2 {
        font-size: 5rem;
        left: 20%;
    }
  }